.menuItem {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    -webkit-user-drag: none;
    overflow: hidden;
}

.menuItem:hover {
    transition: background 0.2s;
    background: rgba(255, 255, 255, 0.055);
}

.menuItem.active {
    transition: 0s;
    background: rgba(var(--accent), 0.452);
}
