.songRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-radius: 7px;
}

.songRow .index>span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.songRow .index>span>img {
    transform: translateX(10px)
}

.songRow .index>svg {
    display: none;
}

.songRow:hover .index>span {
    display: none;
}

.songRow:hover .index svg {
    display: inline-block;
}



.img {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 5px 15px;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
}

.img img {
    width: 135%;
    height: 135%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-user-drag: none;
}

.label {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.index {
    width: 25px;
    text-align: right;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right {
    margin-right: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.songRow:hover {
    background: rgba(255, 255, 255, 0.1);
}
